* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	align-items: center;
    background-color:lightslategrey;
	display: flex;
	font-family: 'Raleway', sans-serif;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}


h1 {
  color: white;
  font-family: 'Playfair Display', Arial;
  font-size: 52px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 60px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}

h2 {
  color: white;
  font-family: 'Playfair Display', Arial;
  font-size: 30px;
  font-weight: 900;
  line-height: 46px;
  margin: 0 0 15px 0;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(34,62,66,.75);
  width: 50%;
}

p {
  color: black;  
}

a{
    display:inline-block;
    text-decoration:none;
    padding:6px 4px;
    border:1px solid white;
    background-color: darkblue;
    color: white;
    font:15px arial, sans-serif;
}
a:hover{
    border-color: white;
}